.form_back-call {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  
  input {
    min-height: 50px;
    width: 300px;
    padding: 9px;
    color: $add-background-color;
    background-color: $section-background;
    border-color: rgba(24, 55, 122, 0.3);
    border-right: none;
    margin-right: -5px;
  }
}
