.section-banner {
  position: relative;
  padding-bottom: 20px;
  top: 0;
  background: url(../images/busines4.jpg);
  width: 100%;
  min-height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  @media screen and (max-width: 992px) {
    min-height: 650px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.6);
    z-index: -2;
  }

  &_text-block {
    z-index: 10;
    color: white;
    padding-top: 250px;
    @media screen and (max-width: 992px) {
      padding-top: 220px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 160px;
    }
    @media screen and (max-width: 576px) {
      padding-top: 130px;
      text-align: center;
    }
  }

  &_text {
    animation: fadeOn 2s ease;
  }

  &_book-block {
    color: #fff;
    margin: 0 auto;
    max-width: 1200px;
    padding: 23px 42px 28px;
    width: 100%;
    min-height: 140px;
    background: rgba(24, 55, 122, 0.8);
    position: absolute;
    z-index: 100;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 1199px) {
      max-width: 960px;
      padding: 15px 20px 28px;
    }

    @media screen and (max-width: 992px) {
      margin-top: 60px;
      max-width: 500px;
      position: static;
      left: 0;
      transform: none;
    }
    @media screen and (max-width: 576px) {
      max-width: 90%
    }

    &--title {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: -1px;
      @media screen and (max-width: 1199px) {
        font-size: 26px;
      }
      @media screen and (max-width: 992px) {
        text-align: center;
      }
      @media screen and (max-width: 776px) {
        font-size: 22px;
      }
    }
  }
}

.book-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 992px) {
    margin-top: 10px;
  }
  

  &_group-block {
    margin-right: 20px;

    @media screen and (max-width: 992px) {
      width: 45%;
      margin-top: 20px;
      margin-right: 0px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }

    &--title {
      margin-bottom: 8px;
      @media screen and (max-width: 1199px) {
        font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        font-size: 10px;
      }
    }

    &--select {
      display: block;
      width: 100%;
      height: 50px;
      padding: 9px 35px;
      font-size: 16px;
      line-height: 1.375;
      color: $main-title-color;
      background-color: white;
      border: 1px solid #c2c2c2;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      @media screen and (max-width: 768px) {
        height: 40px;
        padding: 9px 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 11px;
        height: 35px;
        padding: 5px 10px;
      }
    }
  }

  &_btn {
    @media screen and (max-width: 992px) {
      width: 40%;
      margin: 20px auto 0px;
    }
  }
}
