.page-schedule {
  padding: 80px 0px 40px;
  background-color: $section-background;

  &_block {
    margin-top: 80px;
  }

  &_tabs {
    display: flex;
  }

  &_tab {
    text-align: center;
    width: 50%;
    font-size: 30px;
    padding: 20px;
    background-color: #e4e7f0;
    cursor: pointer;

    span {
      color: $main-background-color;
    }

    &.is-active {
      background-color: $main-background-color;
      box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15); 
      color: #fff;

      & span {
        color: $decoration-color;
      }
    }
  }

  &_tabs-content {
    padding-top: 60px;
  }

  &_tab-content {
    display: flex;
  }

  &_stage {
    padding-right: 30px;

    &:nth-child(1),
    &:nth-child(2) {
      width: 30%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 20%;
    }

    &:last-child {
      padding-right: 0;
    }

    &--title {
      display: block;
      font-weight: 700;
      min-height: 40px;
      border-bottom: 2px solid $main-text-color;
    }

    &--info {
      display: flex;
      margin-top: 30px;
      min-height: 47px;
    }
  }
}

.time {
  color: $main-title-color;
  font-weight: 700;
  padding-right: 30px;
}

.price {
  color: $main-title-color;
  font-weight: 700;
  padding-top: 3px;
}

.info-price {
    display: block;
}
