$main-background-color: #3256a4;
$add-background-color: #18377a;
$section-background: #f2f6ff;
$main-title-color:  #393a3c;
$main-text-color:  #8f8f8f;
$hover-text-color: #292a2d;
$decoration-color:  #f0e319;

